body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  display: flex;
  background-image: url("images/boat.jpg"); /*The image used*/
  background-position: center; /*Center the image */
  background-repeat: no-repeat; /*Do not repeat the image */
  background-size: 100% 100%; /*Resize the background image to cover the entire container */
}

.column2 {
  height: 100%;
  width: 37%;
  display: block;
}
.half {
  height: 50%;
  width: 100%;
  display: flex;
}
.half2 {
  height: 100%;
  width: 50%;
}
.box2 {
  height: 100%;
  width: 26%;
}

/* other rules */
img {
  display: flex;
  border-radius: 0%;
  max-width: 100%;
  max-height: 100%;
}
.center-content {
  justify-content: center;
  align-items: bottom;
  display: flex;
}
.none {
  display: none;
}

.clickable {
  filter: brightness(85%) drop-shadow(1px 3px 2px);
}
.clickable:hover {
  cursor: pointer;
  filter: brightness(100%) drop-shadow(1px 3px 2px);
}
/* add satisfaction to click */
.clickable:active {
  filter: drop-shadow(0px 0px 3px);
  transform: scale(0.98);
}

.glow {
  filter: brightness(85%);
}
.glow:hover {
  cursor: pointer;
  color: rgb(46, 46, 46);
  text-align: center;
  animation: glow 1s ease-in-out infinite alternate;
}
@-webkit-keyframes glow {
  from {
    text-shadow:
      0 0 10px #fff,
      0 0 20px #fff,
      0 0 30px #fffb00,
      0 0 40px #fffb00,
      0 0 50px #fffb00,
      0 0 60px #fffb00,
      0 0 70px #fffb00;
  }

  to {
    text-shadow:
      0 0 20px #fff,
      0 0 30px #dce497,
      0 0 40px #dce497,
      0 0 50px #dce497,
      0 0 60px #dce497,
      0 0 70px #dce497,
      0 0 80px #dce497;
  }
}

/* colors */
.red {
  background-color: #ca1b22;
}
.green {
  background-color: #008d24;
}
.blue {
  background-color: #0b69c0;
}
.purple {
  background-color: #3a246d;
}
.orange {
  background-color: #ea6626;
}
.black {
  background-color: #000000;
}
.white {
  background-color: #ffffff;
}
.light-grey {
  background-color: #a9a9a9;
}
.dark-grey {
  background-color: #707070;
}

/* you may choose to use this class for one of the challenges */

.invisible {
  visibility: hidden;
}
.show {
  visibility: visible;
}

@media only screen and (max-width: 600px) {
  body {
    display: block;
    background-image: url("images/flipped.jpg");
  }
  .column1 {
    height: 37%;
    width: 100%;
    display: flex;
  }
  .half {
    height: 100%;
    width: 50%;
  }
  .box2 {
    height: 26%;
    width: 100%;
    display: flex;
  }
}
